Repository Forge-Station/nuclear-14, pull requests merged in 2025-08, with the labels that each got.

#245 фаст фикс
  Resources/Locale/ru-RU/_Nuclear14/undecidedloadout.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/powerarmor.yml
Labels: :page_facing_up: Локализация :page_facing_up:, :baby_chick: YML :baby_chick:

#249 фиксы дверей и доступов.
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Tools/instruments.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/slanteddoors.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/doors.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/walls.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Wastelanders/chaplain.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/factions.yml
Labels: :baby_chick: YML :baby_chick:

#252 новые иконки легиона
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/centurion.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/dean.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/legionnairerecruit.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/legionnaireveteran.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/legionnairewarrior.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/venator.yml
  Resources/Prototypes/Corvax/StatusEffects/job.yml
  Resources/Textures/Corvax/Interface/Misc/job_icons.rsi/centurion.png
  Resources/Textures/Corvax/Interface/Misc/job_icons.rsi/dean.png
  Resources/Textures/Corvax/Interface/Misc/job_icons.rsi/legionerRecruit.png
  Resources/Textures/Corvax/Interface/Misc/job_icons.rsi/legionerVeteran.png
  Resources/Textures/Corvax/Interface/Misc/job_icons.rsi/legionerWarrior.png
  Resources/Textures/Corvax/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Corvax/Interface/Misc/job_icons.rsi/venator.png
Labels: :art: Спрайты :art:, :baby_chick: YML :baby_chick:

#254 Твики к моим прототипам
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/Conditional/timed.yml
  Resources/Prototypes/Corvax/Entities/Mobs/NPCs/swampers.yml
  Resources/Prototypes/Corvax/Entities/Structures/Decoration/floordecor.yml
  Resources/Prototypes/Corvax/Entities/Structures/Misc/flora.yml
Labels: :baby_chick: YML :baby_chick:

#261 Фиксики
  Resources/Prototypes/_Nuclear14/Entities/Structures/Decoration/torches.yml
  Resources/Textures/Corvax/Structures/Decoration/torches.rsi/wall_torch_lit.png
  Resources/Textures/Corvax/Structures/Decoration/torches.rsi/wall_torch_litу.png
Labels: :art: Спрайты :art:, :baby_chick: YML :baby_chick:

#262 Исправлена страница про материалы в гайдбуке
  Resources/ServerInfo/_Nuclear14/Guidebooks/Crafting/Materials.xml
Labels: :book: Документация :book:, :baby_chick: YML :baby_chick:

#265 Fixed
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Decoration/torches.yml
  Resources/Textures/Corvax/Structures/Decoration/torches.rsi/meta.json
  Resources/Textures/Corvax/Structures/Decoration/torches.rsi/wall_torch_lite.png
  Resources/Textures/Corvax/Structures/Door/towngate.rsi/meta.json
Labels: :art: Спрайты :art:, :baby_chick: YML :baby_chick:
