Repository Forge-Station/nuclear-14, pull requests merged in 2025-09, with the labels that each got.

#266 Fertilizer fixes
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Hydroponics/equipment.yml
  Resources/Prototypes/_Nuclear14/Recipes/Reactions/materials.yml
Labels: :baby_chick: YML :baby_chick:

#268 Nuka cap add
  Content.Server/_NC/SpawnWhenOpened/SpawnWhenOpenedSystem.cs
  Content.Shared/_NC/SpawnWhenOpened/SpawnWhenOpenedComponent.cs
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: :shark: C# :shark:, :baby_chick: YML :baby_chick:

#269 Fix+Sprite
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Nyanotrasen/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Misc/rubber_stamps.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/preserves.yml
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill1.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill2.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill3.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill4.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill5.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill6.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill7.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/fill8.png
  Resources/Textures/_Nuclear14/Objects/Consumable/Food/preserves.rsi/icon.png
Labels: :art: Спрайты :art:, :baby_chick: YML :baby_chick:

#272 Инквизитор добавить в игру онлайн бесплатно
  Resources/Migrations/N14Migrations.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/coats_and_outer.yml
  Resources/Prototypes/Maps/Corvax/Wendover.yml
Labels: :world_map: Изменения Карт :world_map:, :baby_chick: YML :baby_chick:
