Repository Forge-Station/nuclear-14, pull requests merged in 2025-05, with the labels that each got.

#192 Баланс пушек + Переводы
  Resources/Locale/ru-RU/_Nuclear14/undecidedloadout.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/clothing/head/helmets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/clothing/outerclothing/falloutarmor.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/specific/kits/UndecidedLoadout.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/specific/kits/kits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/weapons/guns/rifles/rifles.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/weapons/guns/snipers/snipers.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: :page_facing_up: Локализация :page_facing_up:, :baby_chick: YML :baby_chick:

#194 Быстрый фикс карго.
  Content.Server/Cargo/Components/StationBankAccountComponent.cs
Labels: :shark: C# :shark:, :baby_chick: YML :baby_chick:

#195 Фикс брадо
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/_NC/Mount/SharedMountableSystem.cs
  Resources/Prototypes/Corvax/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Textures/_Corvax/Mobs/Animals/brahdo.rsi/legion.png
Labels: :shark: C# :shark:, :art: Спрайты :art:, :baby_chick: YML :baby_chick:

#196 Тройные дверки
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/structures/doors/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/structures/doors/falloutdoors/airlocks.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Corvax/Entities/Structures/Doors/acces.yml
  Resources/Prototypes/Corvax/Entities/Structures/Doors/airlocks.yml
  Resources/Textures/Corvax/Interface/Actions/combat_mode.rsi/combat.png
  Resources/Textures/Corvax/Interface/Actions/combat_mode.rsi/combat_off.png
  Resources/Textures/Corvax/Interface/Actions/combat_mode.rsi/meta.json
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/bolted_unlit.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/closed.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/closed_unlit.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/closing.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/closing_unlit.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/deny_unlit.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/emergency_unlit.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/meta.json
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/open.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/opening.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/opening_unlit.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/panel_closing.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/panel_open.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/panel_opening.png
  Resources/Textures/Corvax/Structures/Door/bunkerdoor.rsi/welded.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/bolted_unlit.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/closed.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/closed_unlit.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/closing.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/closing_unlit.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/deny_unlit.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/emergency_unlit.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/meta.json
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/open.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/opening.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/opening_unlit.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/panel_closing.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/panel_open.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/panel_opening.png
  Resources/Textures/Corvax/Structures/Door/glassbunkerdoor.rsi/welded.png
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:, :baby_chick: YML :baby_chick:

#201 Обнова Вендовера + Строительство
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/misc/tiles.ftl
  Resources/Maps/Corvax/Vault.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Construction/Graphs/apc.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Construction/Graphs/medical/bandage.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Construction/Graphs/substation.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Construction/Graphs/tiles.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Construction/electronic.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Construction/tiles.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Graphs/medical/bandage.yml
  Resources/Prototypes/Corvax/Recipes/Lathes/tiles.yml
  Resources/Prototypes/Corvax/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Corvax/tags.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/junk.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Misc/craftingbenches.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Power/apc.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Power/substation.yml
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
Labels: :world_map: Изменения Карт :world_map:, :page_facing_up: Локализация :page_facing_up:, :shark: C# :shark:, :baby_chick: YML :baby_chick:

#204 Fix camera follow
  Resources/Prototypes/DeltaV/Entities/Structures/Walls/mountain.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/rock.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Walls/slantedwalls.yml
Labels: :world_map: Изменения Карт :world_map:, :baby_chick: YML :baby_chick:

#209 Вирус ВРЭ
  Content.Client/Administration/UI/ManageSolutions/AddReagentWindow.xaml.cs
  Content.Client/Administration/UI/ManageSolutions/EditSolutionsWindow.xaml.cs
  Content.Server/EntityEffects/Effects/Polymorph.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Locale/ru-RU/_Nuclear14/reagents.ftl
  Resources/Locale/ru-RU/_Nuclear14/species.ftl
  Resources/Locale/ru-RU/guidebook/chemistry/conditions.ftl
  Resources/Locale/ru-RU/metabolism/metabolism-groups.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/mobs/player/rat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/mobs/species/rat.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/specific/medical/chemicals.ftl
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Corvax/Chemistry/metabolism_groups.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Corvax/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/Corvax/Reagents/virus.yml
  Resources/Prototypes/Corvax/polymorph.yml
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
  Resources/Prototypes/_Nuclear14/Body/Organs/ghoul.yml
  Resources/Prototypes/_Nuclear14/Body/Organs/ghoulglowing.yml
  Resources/Prototypes/_Nuclear14/Body/Organs/ratfolk.yml
  Resources/Prototypes/_Nuclear14/Body/Organs/ratmonarch.yml
Labels: :page_facing_up: Локализация :page_facing_up:, :shark: C# :shark:, :computer: Изменения UI :computer:, :baby_chick: YML :baby_chick:

#210 Изменение системы переодических спавнеров.
  Content.Server/Spawners/Components/TimedSpawnerComponent.cs
  Content.Server/Spawners/EntitySystems/SpawnerSystem.cs
Labels: :shark: C# :shark:

#211 Фикс радио
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Resources/Locale/ru-RU/_Nuclear14/headset-component.ftl
  Resources/Locale/ru-RU/radio/components/handheld-radio-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/structures/misc/radio.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/structures/wallmount/intercom.ftl
  Resources/Prototypes/Corvax/Entities/Structures/Misc/radio.yml
  Resources/Prototypes/Corvax/Entities/Structures/Wallmount/intercom.yml
  Resources/Prototypes/Corvax/radio_channels.yml
Labels: :page_facing_up: Локализация :page_facing_up:, :shark: C# :shark:, :baby_chick: YML :baby_chick:

#206 Изменение цен карго.
  Content.Server/Cargo/Components/StationBankAccountComponent.cs
  Resources/Locale/ru-RU/_Nuclear14/guidebooks.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/catalog/fills/crates.ftl
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Corvax/Loadouts/Roles/loadouts_legion.yml
  Resources/Prototypes/Entities/Clothing/Masks/bandanas.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/spray_painter.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/_Nuclear14/Body/Parts/ghoul.yml
  Resources/Prototypes/_Nuclear14/Body/Parts/ghoulglowing.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/_Nuclear14/Catalog/Cargo/cargo_misc.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/crates.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Devices/machine_parts.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/currency.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/12.7.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/LMGs/LMGs.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/_Nuclear14/Guidebooks/nuclear14.yml
  Resources/Prototypes/_Nuclear14/Guidebooks/survivalbasics.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/NPC/raider_loadout.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/Townmechanic.yml
  Resources/Prototypes/_Nuclear14/Traits/speech.yml
  Resources/Prototypes/_Nuclear14/Traits/visual.yml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Crafting/index.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Factions/factions.xml
  Resources/ServerInfo/_Nuclear14/Guidebooks/Weapons/index.xml
Labels: :page_facing_up: Локализация :page_facing_up:, :shark: C# :shark:, :book: Документация :book:, :baby_chick: YML :baby_chick:

#214 экспресс фикс багов
  Resources/Maps/Corvax/Vault.yml
Labels: :world_map: Изменения Карт :world_map:, :baby_chick: YML :baby_chick:
