Repository Forge-Station/nuclear-14, pull requests merged in 2025-06, with the labels that each got.

#215 Update loadouts_ranger.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ranger.yml
Labels: :baby_chick: YML :baby_chick:

#218 немного туллщит локализации
  Resources/Locale/ru-RU/robust-toolbox/_engine_lib.ftl
  Resources/Locale/ru-RU/robust-toolbox/commands.ftl
  Resources/Locale/ru-RU/robust-toolbox/debug-builtin-connection-screen.ftl
  Resources/Locale/ru-RU/robust-toolbox/midi-commands.ftl
  Resources/Locale/ru-RU/robust-toolbox/replays.ftl
  Resources/Locale/ru-RU/robust-toolbox/tab-container.ftl
  Resources/Locale/ru-RU/robust-toolbox/uploadfolder.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/commands.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/debug-builtin-connection-screen.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/entity-category.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/midi-commands.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/physics/grid_merging.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/replays.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/tab-container.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/toolshed-commands.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/uploadfolder.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/userinterface.ftl
  Resources/Locale/ru-RU/ss14-ru/engine/ru-RU/view-variables.ftl
Labels: :page_facing_up: Локализация :page_facing_up:, :baby_chick: YML :baby_chick:

#219 Обновление правил
  Resources/ServerInfo/_Nuclear14/ServerRules/DefaultRuleset.xml
Labels: :book: Документация :book:, :baby_chick: YML :baby_chick:

#222 вкл рейдеров
  Content.Shared/Customization/Systems/CharacterRequirements.Misc.cs
  Content.Shared/_NC/CCVars/CorvaxVars.cs
  Resources/Prototypes/Maps/N14/snowyvale.yml
Labels: :world_map: Изменения Карт :world_map:, :shark: C# :shark:, :baby_chick: YML :baby_chick:

#226 Браство стали Западное и Броня Сьерра.
  Resources/Locale/ru-RU/corvax/job/department.ftl
  Resources/Locale/ru-RU/corvax/job/job-names.ftl
  Resources/Locale/ru-RU/corvax/job/job-supervisors.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/clothing/head/powerarmorhelmet.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/clothing/outerclothing/powerarmor.ftl
  Resources/Prototypes/Corvax/Access/boswest.yml
  Resources/Prototypes/Corvax/Entities/Clothing/Head/powerarmorhelmet.yml
  Resources/Prototypes/Corvax/Entities/Clothing/OuterClothing/powerarmor.yml
  Resources/Prototypes/Corvax/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Corvax/Loadouts/Roles/loadouts_legion.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/brotherhood_west_entity.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/elder.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/gunsmith.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/knight.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/paladin.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/scribe.yml
  Resources/Prototypes/Corvax/Roles/Jobs/factions.yml
  Resources/Prototypes/Corvax/Roles/ai_factions.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ncr.yml
  Resources/Prototypes/_Nuclear14/Roles/ai_factions.yml
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/equipped-HELMET-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/icon-flash.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/icon-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/icon.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/light-overlay.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/meta.json
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/off-equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/off-inhand-left-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/off-inhand-left.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/off-inhand-right-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/off-inhand-right.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/on-equipped-HELMET.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/on-inhand-left-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/on-inhand-left.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/on-inhand-right-unshaded.png
  Resources/Textures/Corvax/Clothing/Head/PowerArmorHelmets/T45Siera.rsi/on-inhand-right.png
  Resources/Textures/Corvax/Clothing/OuterClothing/PowerArmor/T45Siera.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Corvax/Clothing/OuterClothing/PowerArmor/T45Siera.rsi/icon.png
  Resources/Textures/Corvax/Clothing/OuterClothing/PowerArmor/T45Siera.rsi/inhand-left.png
  Resources/Textures/Corvax/Clothing/OuterClothing/PowerArmor/T45Siera.rsi/inhand-right.png
  Resources/Textures/Corvax/Clothing/OuterClothing/PowerArmor/T45Siera.rsi/meta.json
  Resources/Textures/Corvax/Markers/boswest.rsi/elder.png
  Resources/Textures/Corvax/Markers/boswest.rsi/green.png
  Resources/Textures/Corvax/Markers/boswest.rsi/gunsmith.png
  Resources/Textures/Corvax/Markers/boswest.rsi/knight.png
  Resources/Textures/Corvax/Markers/boswest.rsi/meta.json
  Resources/Textures/Corvax/Markers/boswest.rsi/paladin.png
  Resources/Textures/Corvax/Markers/boswest.rsi/scribe.png
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:, :baby_chick: YML :baby_chick:
