Repository Forge-Station/nuclear-14, pull requests merged in 2025-07, with the labels that each got.

#225 Оценочный пистолет для Каравана
  Resources/Locale/ru-RU/cargo/price-gun-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/tools/trade_catalog.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/entities/objects/tools/appraisal.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Tools/trade_catalog.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_blue_line_caravan.yml
  Resources/Textures/Corvax/Objects/Tools/trade_catalog.rsi/icon.png
  Resources/Textures/Corvax/Objects/Tools/trade_catalog.rsi/meta.json
Labels: :page_facing_up: Локализация :page_facing_up:, :art: Спрайты :art:, :baby_chick: YML :baby_chick:

#231 Дверки с замком
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Shared/Access/AccessLevelPrototype.cs
  Content.Shared/Construction/Events.cs
  Content.Shared/_NC/RandomAccessKey/RandomAccessKeyComponent.cs
  Content.Shared/_NC/RandomAccessKey/RandomAccessKeySystem.cs
  Content.Shared/_NF/CCVars/CCVars.cs
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/misc/identification.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/structures/doors/slanteddoors.ftl
  Resources/Prototypes/Corvax/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/Corvax/Entities/Structures/Doors/slanteddoorsacces.yml
  Resources/Prototypes/Corvax/Recipes/Crafting/Construction/structures.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/Graphs/Structures/doors.yml
  Resources/Prototypes/_Nuclear14/Recipes/Construction/structures.yml
Labels: :page_facing_up: Локализация :page_facing_up:, :shark: C# :shark:, :baby_chick: YML :baby_chick:

#230 Пустынные тайлы
  Resources/Prototypes/Corvax/Tiles/floors.yml
  Resources/Prototypes/_Nuclear14/Tiles/floors.yml
  Resources/Textures/Corvax/Tiles/cavedesert.png
  Resources/Textures/Corvax/Tiles/grounddesert.png
  Resources/Textures/Corvax/Tiles/savanbig.png
  Resources/Textures/Corvax/Tiles/savansmall.png
  Resources/Textures/Corvax/Tiles/wastelanddesert.png
  Resources/Textures/Corvax/Tiles/wastelanddesertvariative.png
Labels: :baby_chick: YML :baby_chick:

#232 ЗБС
  Resources/Locale/ru-RU/_Nuclear14/headset-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/clothing/ears/headsets_alt.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/markers/spawners/jobs.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/devices/encryption_keys.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/weapons/guns/turrets.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/structures/doors/access.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/roles/jobs/brotherhoodwashington/brotherhood_washington_entity.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/corvax/entities/objects/misc/identification_cards.ftl
  Resources/Prototypes/Corvax/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/door_access.yml
  Resources/Prototypes/Corvax/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/Corvax/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/Corvax/Entities/Structures/Doors/acces.yml
  Resources/Prototypes/Corvax/Entities/Structures/Machines/machinepanels.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/elder.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/gunsmith.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/knight.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/paladin.yml
  Resources/Prototypes/Corvax/Roles/Jobs/BrotherhoodWest/scribe.yml
  Resources/Prototypes/Corvax/Roles/ai_factions.yml
  Resources/Prototypes/Corvax/Tiles/floors.yml
  Resources/Prototypes/Corvax/radio_channels.yml
Labels: :page_facing_up: Локализация :page_facing_up:, :baby_chick: YML :baby_chick:

#234 Двери и доступы.
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/structures/doors/access_tall.ftl
  Resources/Prototypes/Corvax/Access/legion.yml
  Resources/Prototypes/Corvax/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/Corvax/Entities/Structures/Doors/access_tall.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/centurion.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/dean.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/legionnairerecruit.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/legionnaireveteran.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/legionnairewarrior.yml
  Resources/Prototypes/Corvax/Roles/Jobs/CaesarLegion/venator.yml
  Resources/Prototypes/_Nuclear14/Access/miscfactions.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Misc/identification.yml
  Resources/Prototypes/_Nuclear14/Entities/Structures/Doors/access_tall.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/Towndoctor.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/Townmechanic.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/Townshopkeeper.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/Townsperson.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/bartender.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/reporter.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/towndeputy.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Townsfolk/townsheriff.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/Wastelanders/farmer.yml
Labels: :page_facing_up: Локализация :page_facing_up:, :baby_chick: YML :baby_chick:

#233 Правки СЗБС + Оазиса
  Resources/Locale/ru-RU/_Nuclear14/undecidedloadout.ftl
  Resources/Locale/ru-RU/mind/components/mind-component.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/specific/kits/UndecidedLoadout.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/specific/kits/kits.ftl
  Resources/Locale/ru-RU/ss14-ru/prototypes/_nuclear14/entities/objects/weapons/guns/battery/battery_guns.ftl
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
  Resources/Prototypes/_Forge/Entities/Objects/Specific/Kits/UndecidedLoadout.yml
  Resources/Prototypes/_Forge/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Catalog/Fills/storage_fills_rp.yml
  Resources/Prototypes/_Nuclear14/Entities/Clothing/OuterClothing/falloutarmor.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Kits/kits.yml
  Resources/Prototypes/_Nuclear14/Entities/Objects/Specific/Medical/chemicals.yml
  Resources/Prototypes/_Nuclear14/Loadouts/Roles/loadouts_ncr.yml
  Resources/Prototypes/_Nuclear14/Loadouts/outerClothing.yml
  Resources/Prototypes/_Nuclear14/Roles/Jobs/BrotherhoodMidwest/squire.yml
  Resources/Prototypes/_Nuclear14/Stacks/medical_stacks.yml
Labels: :page_facing_up: Локализация :page_facing_up:, :baby_chick: YML :baby_chick:

#236 Декали
  Resources/Prototypes/Corvax/Decals/decals.yml
  Resources/Textures/Corvax/Decals/bones.rsi/meta.json
  Resources/Textures/Corvax/Decals/bones.rsi/skull.png
  Resources/Textures/Corvax/Decals/bones.rsi/skullDeathclaw.png
  Resources/Textures/Corvax/Decals/grass.rsi/grass-1.png
  Resources/Textures/Corvax/Decals/grass.rsi/grass-2.png
  Resources/Textures/Corvax/Decals/grass.rsi/grass-3.png
  Resources/Textures/Corvax/Decals/grass.rsi/grass-4.png
  Resources/Textures/Corvax/Decals/grass.rsi/meta.json
  Resources/Textures/Corvax/Decals/kactus-good.rsi/kactus-good-1.png
  Resources/Textures/Corvax/Decals/kactus-good.rsi/kactus-good-2.png
  Resources/Textures/Corvax/Decals/kactus-good.rsi/meta.json
  Resources/Textures/Corvax/Decals/kactus.rsi/kactus-1.png
  Resources/Textures/Corvax/Decals/kactus.rsi/kactus-2.png
  Resources/Textures/Corvax/Decals/kactus.rsi/kactus-3.png
  Resources/Textures/Corvax/Decals/kactus.rsi/meta.json
Labels: :art: Спрайты :art:, :baby_chick: YML :baby_chick:

#241 fix
  Content.Server/_NC/Discord/DiscordAuthManager.Utils.cs
  Content.Server/_NC/Discord/DiscordAuthManager.cs
  Content.Server/_NC/Sponsors/SponsorsManager.cs
  Content.Shared/_NC/DiscordAuth/DiscordData.cs
  Content.Shared/_NC/DiscordAuth/MsgDiscordAuthRequired.cs
  Resources/Locale/ru-RU/_NC/discord_data.ftl
Labels: :page_facing_up: Локализация :page_facing_up:, :shark: C# :shark:, :baby_chick: YML :baby_chick:
